.favoriteItem {
    position: relative;
    left: 20%;
    margin-top: 10px;
    font-family: fantasy;
    font-size: 22px;
}

.eraserIcon {
    position: relative;
    left: 19%;
    margin-top: 15px;
}

.favoriteWeatherIconDiv {
    position: relative;
    margin-left: 22%;
    margin-top: 10px;
}