.bg-img {
    display: block;
    left: 0;
    /* top: 55px; */
    width: 100%;
    height: 100%;
}

.currentcityWeatherNameDisplay {
    position: absolute;
    top: 100px;
    margin-left: -250px;
    width: 100%;
    text-align: center;
    color: #FFF;
}

.CurrentWeatherBoxDiv {
    top: 100px;
    background-color: rgb(238, 234, 228);
    width: 200px;
    border-radius: 10px;
    position: relative;
    left: calc(50% - 100px);
    /* margin-left: ; */
}

.forecastBox {
    position: relative;
    margin-top: 100px;
}

.inputContainer {
    position: absolute;
    text-align: center;
    /* left: 0; */
    /* width: 50%; */
}


.focastWeatherBox {
    position: relative;
    top: -200px;
    display: inline-block;
    left: calc(50%);
    margin-left: 10%;
}

.bold {
    font-weight: bold;
}


.searchInput {
    z-index: 10;
    text-align: center;
    position: absolute;
    top: 20px;
    width: 50%;
    margin-left: 25%;
    height: 40px;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
    -webkit-appearance: none;
}

.searchInput-container {
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 60px;
    width: 50%;
    background-color: #FFF;
    margin-left: 25%;
    height: fit-content;
    padding: 10px 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
    -webkit-appearance: none;

}

.close {
    visibility: hidden;
}

.ListCitysItem {
    text-align: left;
    background-color: #FFF;
}

.ListCitysItem:hover {
    border-style: solid;
    border-color: #9A59B5;
}

.starIconDiv {
    display: inline-flex;
    margin-left: 1%;
    margin-top: 1%;

}

.cityNameDiv {
    display: inline-flex;
    margin-left: 1%;
    background-color: #FFF;
    border: none;
    color: black;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cityNameInput {
    background-color: #FFF;
    border: none;
    color: black;
    text-align: left;
    text-decoration: none;
    display: inline-block;

}

.cityNameInput:hover {
    font-weight: bold;
}

.favoriteIconDiv {
    display: inline;
    /* z-index: 12; */
}