body,
html {
  height: 100%;
  margin: 0;
  background-image: url("./img/header.jpg");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.errorContaier {
  z-index: 20;
  position: absolute;
  width: fit-content;
  max-width: 400px;
  height: fit-content;
  padding: 10px;
  text-align: center;
  /* background-color: #fff; */
  background-color: green;
  border-radius: 3px;
  top: 20px;
  left: 20px;
}